[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "kokoro>=0.9.4",
    "langgraph>=1.0.7",
    "numpy>=2.4.1",
    "pydantic-ai>=1.47.0",
    "uvicorn>=0.40.0",
]
